@page "/settings"
@rendermode InteractiveServer
@inject ApiKeyService apiKeyService

<label class="fw-bold">API Key</label>
<input @bind="apiKey" @oninput="HandleInputChange" class="w-100" />
<div>
    <div class="text-muted pt-3">
        Cardcraft uses OpenAI's Dall-E-3 model to create background art for cards, therefore an OpenAI API Key is required. Although API Keys are securely stored in memory, you will need to supply your key on every session.
    </div>
    <div class="pt-3">
        <a href="https://platform.openai.com/api-keys" target="_blank">https://platform.openai.com/api-keys</a>
    </div>
</div>


@code {
    private string apiKey;

    protected override Task OnInitializedAsync()
    {
        this.apiKey = apiKeyService.ApiKey;
        return base.OnInitializedAsync();
    }

    private void HandleInputChange(ChangeEventArgs e)
    {
        apiKeyService.ApiKey = e.Value.ToString();
    }
}